<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}

	<div class="post">
	  <!-- Wrapper Start -->
	  <section class="section" style="border: 1px dotted #ddd; padding-top: 25px;">
	    <div class="container">
			<div class="row">
				<div class="center-text">
					<div class="col-md-12" style="padding-bottom: 50px;">
						<h1 style="font-size: 48px;">{{ .Params.title }}</h1>
					</div>
				</div>
			</div>
	      <div class="row">
	          <div class="block">
				  <div class="col-md-5">
					  {{ with .Params.image }}<img src="{{ . | absURL }}" width="100%" alt="post-image"> {{ end }}
				  </div>
				  <div class="col-md-7">
					  <p style="font-size: 16px">{{ .Content }}</p>
				  </div>
	          </div>
	        </div>
			<div class="row">
				<div class="center-text">
					<div class="col-md-12" style="padding-top: 50px">
						<a class="btn btn-main" href="{{ $.Site.BaseURL }}{{ $.Site.Params.PortfolioUrl }}">{{ $.Site.Params.PortfolioName }}</a>
					</div>
				</div>
			</div>
	    </div>
	  </section>
	</div>

	{{ if and (isset .Site.Params "call") (.Site.Params.call.enable) }}
		{{ partial "call-to-action.html" . }}
	{{ end }}

	{{ partial "footer.html" . }}
</body>
</html>
