<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}
	<section id="global-header" style="background-image: url({{ .Site.Params.BlogImage | absURL }})">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block">
						<h1>Blog</h1>
					</div>
				</div>
			</div>
		</div>
	  </section>

	<section class="blog section">
		<div class="container">
			<div class="row">
				{{ range (.Paginator 6).Pages }}
				<div class="col-md-6">
					<article class="blog-post">
						<a class="post-title" href="{{ .Permalink }}"><img src="{{ .Params.image | absURL }}" class="img-responsive" alt="post-thumb"></a>
						<a class="post-title" href="{{ .Permalink }}">{{ .Title }}</a>
						<p>
							{{ .Summary }}
						</p>
						<a href="{{ .Permalink }}" class="btn btn-main">Read More</a>
					</article>
				</div>
				{{ end }}
			</div>
			<div class="col-12 text-center">
				{{ template "_internal/pagination.html" . }}
			</div>
		</div>
	</section>

	{{ if and (isset .Site.Params "call") (.Site.Params.call.enable) }}
		{{ partial "call-to-action.html" . }}
	{{ end }}

	{{ partial "footer.html" . }}

</body>
</html>
