<!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>Another fancy title</h1>
                    <p>Super cool subtitle</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">

    <!-- Intro -->
    <div class="row">
      <div class="section-title">
        <h2>{{ .Site.Params.associations.title }}</h2>
        <p>{{ .Site.Params.associations.subtitle }}</p>
      </div>
    </div>

    <!-- Content -->
    <div class="row">
      <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <!-- Empty entry just for the padding -->
          </div>
      </div>
      {{ range .Site.Params.associations.item }}
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <a href="{{ .url }}">
            <img src="{{ $.Site.BaseURL }}img/{{ .image }}" style="max-height: 8em" alt="">
            <h4>{{ .name }}</h4>
          </a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
