<!-- Call to action Start -->
{{ with .Site.Params.call }}
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>{{ .title }}</h2>
          <ul class="list-inline">
            <li>
              <a class="btn btn-default" href="mailto:maite@clausell.es" ><i class="fa fa-2x fa-envelope"></i></a>
            </li>
            <li>
              <a class="btn btn-default" href="https://twitter.com/mcm_tradu" ><i class="fa fa-2x fa-twitter"></i></a>
            </li>
            <li>
              <a class="btn btn-default" href="https://www.linkedin.com/in/maiteclausell" ><i class="fa fa-2x fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
