<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}

	<section id="global-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block">
						<h1>Privacy Notice</h1>
					</div>
				</div>
			</div>
		</div>
	</section>		

	<section class="legal section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-justify">
					<h3>Who am I?</h3>
					<p>My name is Maite Clausell and I am a freelance translator of English documents into Spanish and Catalan. I am based in the UK and as such subject to the requirements of the new General Data Protection Regulation which comes into force on 25 May 2018.</p>
					<p>You can contact me via the details provided on my website.</p>
					<h3>Client, supplier and collaborator data</h3>
					<p>Visitors to my website are not obliged to provide personal data. Nevertheless, anyone interested in my services can contact me via the contact information provided, meaning that some personal data will be collected in order to establish communication.</p>
					<h3>Legal Grounds</h3>
					<p>The legal basis for processing your personal data is to perform the services you request or to take the necessary steps prior to fulfilling the afore-mentioned request.</p>
					<p>Personal data will not be used for marketing purposes.</p>
					<h3>Categories of personal data and why do I store it</h3>
					<p>I collect, store and use personal data on clients, suppliers and potential clients. Personal data collected may include:</p>
					<ul class="legal-list">
						<li>Name and surname</li>
						<li>Postal address</li>
						<li>E-mail address</li>
						<li>Telephone number</li>
						<li>Payment and delivery conditions</li>
						<li>Financial details, including tax number, and bank account</li>
					</ul>
					<p>These data will be used for the following purposes:</p>
					<ul class="legal-list">
						<li>to issue quotes and invoices,</li>
						<li>to provide a translation or editing service as requested by you,</li>
						<li>or to comply with legal requirements.</li>
					</ul>
					<h3>Who else may have access to your personal data?</h3>
					<p>For administrative purposes, other parties, including the providers of my website and email hosting services, may have access to your personal data. All these parties are also compliant with the EU General Data Protection Regulation, or in the case of US companies, are self-certified under the US Privacy Shield framework.</p>
					<h3>How long do I keep your personal data?</h3>
					<p>Your personal data will be kept throughout the business relationship period only, or for the length of time stipulated to comply with legal and tax obligations.</p>
					<h3>Do you have the right to access your data?</h3>
					<p>You may contact me at any time to request a copy of your personal data, or to ask me to rectify or remove the information I hold.</p>
					<h3>Your right to lodge a complaint</h3>
					<p>If you have any concerns about how I process your personal data, please contact me. You also have the right to lodge a complaint with the supervisory authority in the UK (the <a href='https://ico.org.uk/'>Information Commissioner’s Office, or ICO</a>) or in the country where you live.</p>
					<h3>Security measures</h3>
					<p>Precautionary measures are taken to guarantee that your personal data is safeguarded. These measures include:</p>
					<ul class="legal-list">
						<li><strong>Updated to computers and devices</strong>: The equipment used for storing and processing personal data is regularly updated.</li>
						<li><strong>Malware</strong>: Antivirus software is installed on the equipment used for storing and processing data and is regularly updated.</li>
						<li><strong>Firewall</strong>: Firewalls are in place on all devices used for storing or processing personal data, to avoid remote unlawful third-party access.</li>
						<li><strong>Back-up</strong>: All personal data is periodically backed-up on a device other than the one used on daily basis, providing further security and possible recovery in the event of loss or damage of the original files.</li>
						<li><strong>Technical measures</strong>: All computers and devices in which personal data is stored are password-protected.</li>
					</ul>
					<h3>Cookies policy</h3>
					<p>Like most websites, mine uses cookies to collect data. Cookies are small data files which are placed on your computer (PCs, smart phones or tablets) as you browse. They are used to remember when your computer or device accesses this website, they help it operate effectively and improve your user experience.</p>
					<p>The data collected includes pages viewed and your journey around the website. These cookies are not used to collect or record data on your name, address or other contact details.</p>
					<p>You can disable the use of cookies by changing your browser settings to reject cookies.</p>
					<h3>Google Analytics</h3>
					<p>Based on my legitimate interest (i.e. my interest in analysis, optimisation and economic performance of my online offer in accordance with article 6, section 1, letter f of GDPR), I use a third-party service, Google Analytics, which is Google LLC’s web analysis service.</p>
					<p>Google Analytics collects standard internet log data and details of visitor behaviour patterns. The data collected by this service includes the number of visitors to the site and the country from where they access the site. The way in which this data is processed does not personally identify any visitor.</p>
					<p>If you do not want Google Analytics to collect this data from you, please click <a href='https://tools.google.com/dlpage/gaoptout'>here</a> to get the Google Analytics opt-out browser add-on.</p>
					<br>
					<br>
					<p>This Privacy Notice was updated in May 2018. It will be reviewed and updated when necessary.</p>
				</div>
			</div>
		</div>
	</section>

	{{ if and (isset .Site.Params "call") (.Site.Params.call.enable) }}
		{{ partial "call-to-action.html" . }}
	{{ end }}

	{{ partial "footer.html" . }}

</body>
</html>
